<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/css/template.css"> 
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <title>About- Sortipy</title>
	</head>
  <body>
    <nav class="navbar navbar-black" style="background-color: #04b434";>
      <span class="navbar-text">
        <h1><strong><a style="text-decoration:none; color:inherit;" href="/home" >Sortipy</a></strong></h1>
      </span>
  </nav><br>
    <h1> About <em><strong>Sortipy</strong></em></h1>
    <p>Sort your Spotify playlists by any of a wide range of musical attributes such as tempo, loudness, valence, energy, danceability and more.</p>
    <br>
    <p>With <em><strong>Sortipy</strong></em> you can easily order the songs in any of your playlists on a wide range of parameters. Just follow these steps:
      <ol>
        <li>Copy your playlist URL.</li>
        <li>Paste the URL and click on Submit button.</li>
        <li>Scroll Down to find the buttons to sort the playlist.</li>
        <li>Sort the playlist by clicking on the button.</p>
      </ol>
      <br>
    <h1>FAQ</h1>
      <p> Here are some answers to questions about Sortipy</p>
      <ol>
        <li>How was this built? </li>
      This was created using the <a href="https://developer.spotify.com/documentation/web-api/reference/#/"> Spotify API</a> using Python on the backend.
        <li>Is the source code available? </li>
      Yes, you can find it on <a href="https://github.com/Shaheer-rossoneri14/Sortipy">GitHub</a>
      <li>Does <em><strong>Sortipy</strong></em> overwrite my playlist when I save?</li>
      Only if you chose the 'Overwrite playlist option' otherwise it creates a copy of the playlist. The new playlist is called 'Old playlist name sorted by increasing X', where X is what you sorted the playlist on.</h1>
    </ol>
<h1>About me</h1>
    <p>I am Shaheer Hasan, a Python Full-Stack Developer from India.
      <br>Currently, I'm pursuing my B.E degree in Information Science and Engineering at CMR Institute of Technology, Bengaluru.
      <br>I am a big fan of AC Milan, a football club based out of Milan, Italy.
      <br>I love reading Mangas and watching Anime.
    </p>
<div class="footer-basic">
      <footer>
          <ul class="list-inline">
              <li class="list-inline-item"><a href="/home">Home</a></li>
              <li class="list-inline-item"><a href="/about">About</a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/shaheer14hasan/">LinkedIn</a></li>
              <li class="list-inline-item"><a href="https://shaheer-rossoneri14.github.io/">Portfolio</a></li>
              <li class="list-inline-item"><a href="https://github.com/Shaheer-rossoneri14">GitHub</a></li>
                  
          </ul>
          <p class="copyright">Developed By
              <a href="https://www.linkedin.com/in/shaheer14hasan/">Shaheer Hasan</a> © 2022</p>
      </footer>
  </div>
  </body>
</html>